<h1>Entrée concert</h1>

<input 
id="ticket"
placeholder="Numéro ticket"
autofocus>


<p id="result"></p>


<script>

let input = document.getElementById("ticket");


input.addEventListener("keydown", function(e){

    if(e.key === "Enter"){

        let numero = input.value;


        fetch("/scan/" + numero)
        .then(r=>r.json())
        .then(data=>{


            if(data.status=="valide"){
                result.innerHTML =
                "✅ VALIDÉ : " + data.nom;
            }


            else if(data.status=="deja_utilise"){
                result.innerHTML =
                "❌ DÉJÀ PASSÉ : " + data.nom;
            }


            else{
                result.innerHTML =
                "❌ TICKET INCONNU";
            }


            input.value="";
            input.focus();

        });

    }

});

</script>